@font-face {
    font-family: TiemposFine-Bold; 
    src: url(../assets/fonts/TiemposFine-Bold.otf); 
}
@font-face {
    font-family: Quentin; 
    src: url(../assets/fonts/Quentin.otf); 
}

body {
    margin: 0;
    background-color: #183028;
    font-family: TiemposFine-Bold, 'Comic Sans MS', cursive;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    align-content: stretch;
}

.main-container__background-image {
    flex: 0 1 auto;
    width: 100%;
}

.content-container {
    position: absolute;
    max-width: 940px;
    height: 460px;
    align-self: flex-end;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;

    color: #FFFFFF;
}

.rectangle {
    flex: 0 1 auto;
    width: 100px;
    height: 9px;
    background: #FFDF37;
}

.button-container {
    flex: 0 1 auto;
    width: 146px;
    height: 35px;
}

.button-play-video {
    background: transparent;
    border: none;
    outline:none;
}

.button-play-video:hover,
.button-play-video:focus {
    cursor: pointer;
}

.button-play-video__image:hover,
.button-play-video__image:focus{
    opacity: 0.7;
}

.content-container__text {
    flex: 0 1 auto;
}

.text_font_tiemposFine {
    display: inline-block;
    font-family: TiemposFine-Bold;
    font-size: 50px;
    line-height: 60px;
}

.text_font_quentin {
    font-family: Quentin, 'Comic Sans MS', cursive;
    display: inline-block;
    font-size: 1.4em;
    vertical-align: -2px;
}

.text_size_big {
    display: inline-block;
    transform: scale(1, 1.5);
    text-indent: 0.2em;
}

.popup {
    position: absolute;
    top: 0; 
    z-index: 1; 
    display: none;
    margin: 0 auto;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.player-container {
    flex: 0 1 auto;
    align-self: center;
    width: 95%;
    height: 95%;
}

.popup__close-button {
    flex: 0 1 auto;
    align-self: flex-end;
    color: #aaaaaa;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.popup__close-button:active {
    outline: none;
}
.popup__close-button:hover,
.popup__close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .main-container {
        overflow: hidden;
    }

    .main-container__background-image {
        flex: 0 1 auto;
        width: fit-content;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        overflow: hidden;
    }

    .main-container__background-image {
        flex: 0 1 auto;
        width: fit-content;
    }

    .rectangle {
        width: 50px;
    }

    .content-container {
        font-size: 30px;
        line-height: 40px
    }
    .content-container__text {
        margin: 0 auto;
    }
  }

